/*
  nicer "outside" list style using grids
  (from https://css-tricks.com/list-style-recipes/#inside-vs-outside)
*/
section[data-footnotes] > ol {
  counter-reset: li;
}

section[data-footnotes] > ol > li {
  counter-increment: li;
}

@supports (grid-template-columns: subgrid) {
  section[data-footnotes] > ol {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1em;
  }
  section[data-footnotes] > ol > li {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
}
section[data-footnotes] > ol > li::before {
  content: counter(li) ".";
  margin-right: 0.6rem;
  text-align: end;
}

/* unset margin so that the text lines up with the element */
section[data-footnotes] > ol > li > p {
  margin: 0;
}

/* highlight selected footnote. we use position:relative and a pseudo to avoid shifting content. */
section[data-footnotes] ol > li:target {
  position: relative;
}

section[data-footnotes] ol > li:target::after {
  position: absolute;
  border-radius: 0.4em;
  z-index: -1;
  content: "";

  top: -0.4em;
  bottom: -0.4em;
  right: -0.4em;
  left: -0.4em;

  background: #eee;
}

@media (prefers-color-scheme: dark) {
  section[data-footnotes] ol > li:target::after {
    background-color: #222;
  }
}
