---
import "~/styles/tufte.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Articles</title>
  </head>
  <body>
    <h3>
      <a href="/articles/fields">
        Barbara Jeanne Fields: Slavery, Race and Ideology in the United States
        of America
      </a>
    </h3>
  </body>
</html>
