---
import Head from "~/components/head.astro";

import "~/styles/tufte.css";
---

<html lang="en">
  <head>
    <Head title="read.capital" />
  </head>
  <body>
    <h3 class="text-balance">
      <a href="/articles/fields">
        Barbara Jeanne Fields: Slavery, Race and Ideology in the United States
        of America
      </a>
    </h3>
  </body>
</html>
