---
import Head from "~/components/head.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
}>;

import "~/styles/tufte.css";
import "~/styles/index.css";

import "katex/dist/katex.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={frontmatter.title} />
  </head>
  <body>
    <main>
      <h1>{frontmatter.title}</h1>
      <h2>{frontmatter.author}</h2>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
